<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karate">

    <application
        android:allowBackup="true"
        android:icon="@drawable/karate"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jodan_age_uke"
        android:supportsRtl="true"
        android:theme="@style/Theme.KempoKarateDo">
        <activity
            android:name=".ActivityExecucaoGolpes"
            android:exported="true" />
        <activity
            android:name=".ActivityGolpes"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>